.marquee1 {
  display: inline-block;
  animation: marquee 20s linear infinite; /* Ubah 10s sesuai kecepatan yang Anda inginkan */
}

.marquee2 {
  display: inline-block;
  animation: marquee2 20s linear infinite; /* Ubah 10s sesuai kecepatan yang Anda inginkan */
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee2 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
